@model IEnumerable<WebBanHangOnline.Models.EF.Order>
@if (Model != null)
{
    var i = 1;
    <h2>Lịch sử đơn hàng</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>STT</td>
                <td>Họ và tên</td>
                <td>Số điện thoại</td>
                <td>Địa chỉ</td>
                <td>Tổng tiền</td>
                <td>Hình thức thanh toán</td>
                <td>Trạng thái thanh toán</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                if (item.Status == 1 && item.TypePayment == 1)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.CustomerName</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>@item.TotalAmount</td>
                        <td>Thanh toán khi nhận hàng</td>
                        <td>Đã thanh toán</td>
                    </tr>
                }
                else if (item.Status == 1 && item.TypePayment == 2)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.CustomerName</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>@item.TotalAmount</td>
                        <td>Chuyển khoản</td>
                        <td>Đã thanh toán</td>
                    </tr>
                }
                else if (item.Status == 0 && item.TypePayment == 1)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.CustomerName</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>@item.TotalAmount</td>
                        <td>Thanh toán khi nhận hàng</td>
                        <td>Chưa thanh toán</td>
                    </tr>
                }
                else if (item.Status == 0 && item.TypePayment == 2)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.CustomerName</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>@item.TotalAmount</td>
                        <td>Chuyển khoản</td>
                        <td>Chưa thanh toán</td>
                    </tr>
                }


                i++;
            }
        </tbody>
    </table>
}
