@model IEnumerable<WebBanHangOnline.Models.EF.Order>
@if (Model != null)
{
    var i = 1;
    <h2>Lịch sử đơn hàng</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>STT</td>
                <td>Họ và tên</td>
                <td>Số điện thoại</td>
                <td>Địa chỉ</td>
                <td>Tổng tiền</td>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               

                    <tr>
                        <td>@i</td>
                        <td>@item.CustomerName</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>@item.TotalAmount</td>
                        
                    </tr>
                
    
                i++;
            }
        </tbody>
    </table>
}
